I.   SEPARE LES RESPONSABILITÉS
II.  NE REINVENTE PAS LA ROUE (si ça existe déjà, prend le)
III. COUPLAGE FAIBLE, COHESION FORTE
IV.  PROGRAM TO INTERFACE NOT IMPLEMENTATION
V.   DON'T REPEAT YOURSELF
VI.  KEEP IT SIMPLE AND STUPID
VII. YOU AIN'T GONNA NEED IT
